{% extends "layout.html" %}
{% block title %}
    <div class="col-md-12">
        <div class="page-header">
            <h2>
                Function details
                <small>
                    {{ list[0]['filename'] }}/{{ list[0]['func_name'] }}
                </small>
            </h2>

        </div>
    </div>
{% endblock %}
{% block content %}
    <meta id="js" data-file="{{ list[0]['filename'] }}" data-function="{{ list[0]['func_name'] }}">
    <div class="col-md-12">
        <a id="table-button" class="btn btn-primary btn-xs btn-block">View Table</a>
    </div>
    <div id="table-div" class="col-md-12" style="display:none">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Execution Time</th>
                    <th>Timestamp</th>
                    <th>Token</th>
                    <th>Key</th>
                </tr>
            </thead>
            <tbody>
            {% for item in list %}
                <tr>
                    <td>{{ item['id'] }}</td>
                    <td>{{ item['execution_time'] }}</td>
                    <td>{{ item['timestamp'] }}</td>
                    <td>{{ item['token'] }}</td>
                    <td>{{ item['key'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-12">
        <a id="graph-button" class="btn btn-primary btn-xs btn-block">View Static Graph</a>
    </div>
    <div id="static-graph" class="col-md-12">
        <div class="well well-sm">
            <div id="static-graphcontainer"></div>
        </div>
    </div>

    <div class="col-md-12">
        <a id="graph-button" class="btn btn-primary btn-xs btn-block">View Range Graph</a>
    </div>

    <div class="col-md-12">
        <div id="range-graph" class="well well-sm">
            <div id="range-graphcontainer"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/api/highcharts/highcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/api/highcharts/dark-unica.js') }}"></script>
    <script src="{{ url_for('static', filename='js/api/highcharts/exporting.js') }}"></script>
    <script src="{{ url_for('static', filename='js/api/graph_data/api_calls.js') }}"></script>
    <script src="{{ url_for('static', filename='js/api/graph_data/data.js') }}"></script>
    <script src="{{ url_for('static', filename='js/api/graph_data/static_graph_gen.js') }}"></script>
    <script src="{{ url_for('static', filename='js/api/graph_data/button_control.js') }}"></script>
    <script src="{{ url_for('static', filename='js/api/graph_data/function_details.js') }}"></script>
{% endblock %}